<?xml version="1.0" encoding="UTF-8"?>
<phpunit forceCoversAnnotation="true"
         colors="true"
         bootstrap="vendor/autoload.php"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd">
    <testsuites>
        <testsuite name="Entity Tracker Bundle - Unit Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
